# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

       ../../.DS_Store
        ../../30daysjs/
        ../../ChristmasProject_Frogger/
        ../../Frogger_Simplified1/
        ../../M1L11-callbacks-wbp/
        ../../M1L5.1-functions-wbp/
        ../../M2L4-express-routers-controllers-wbp/
        ../../M3L3-4-react-state-handling-input-events-wbp/
        ../../M4L3-python-containers-wbp/
        ../../SEB-77-CourseDocs/
        ../../Unit1_Project_Snake/
        ../../Unit2Project/
        ../../ai-image-generator/
        ../../bookshop/
        ../../budgetapp/
        ../../catcollector/
        ../../djangoreact/
        ../../dom-practice/
        ../../em-makes/
        ../../express-dev-skills/
        ../../express_lab/
        ../../finchcollector/
        ../../first-node/
        ../.gitignore
        ../../fizzbuzz.py
        ../../foodProject/
        ../../github-users/
        ../../inTechProject/
        ../../intro-express/
        ../../js_weather_app/
        ../../mern-infrastructure/
        ../../mysite/
        ../../package-lock.json
        ../../portfolio/
        ../../react-movies/
